.customer {
  background-image: url(../../../img/Customer.png);
  background-size: cover;
  padding: 150px 0;
}
.customer__wrap {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: space-between;
  grid-auto-flow: dense;
}
.customer__wrap h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274c5b;
}
.customer__img1 {
  padding-top: 60px;
  padding-bottom: 20px;
}
.customer__img img {
  display: inline-block;
  padding-bottom: 30px;
}
.customer__wrap span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #525c60;
  opacity: 0.85;
}
.customer__wrap h4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.36px;
  padding-top: 20px;
  color: #274c5b;
}
.customer__consumer span{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 27px;
text-align: center;
letter-spacing: 0.36px;
color: #525C60;
}
.customer__index{
display: flex;
justify-content: space-around;
border-top: 2px solid #E0E0E0;
padding-top: 100px;
margin-top: 80px;
}
.customer__index-item{
display: flex;
flex-direction: column;
width: 250px;
height: 250px;
border: 4px solid $olive;
border-radius: 50%;
background-color: #F1F1F1;
justify-content: center;
margin-right: 20px;
flex-wrap: wrap;
}
.customer__index-item span:first-child{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #274C5B;
}
.customer__index-item span:last-child{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 32px;
text-align: center;
letter-spacing: 0.36px;
color: #274C5B;
}

