.eco{
background-image: url(../../../img/Field.png);
background-repeat: no-repeat;
height: 700px;
padding-top: 40px;
}
.eco__content{
background-color: white;
width: 720px;
height: 620px;
border-radius: 25px;
padding: 40px 40px 55px 60px;
display: grid;
margin-left: 45%;
}

.eco__content h2{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 58px;
letter-spacing: 0.36px;
text-transform: capitalize;
color: #274C5B;
}

.eco__content h5{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 32px;
letter-spacing: 0.36px;
text-transform: capitalize;
color: #274C5B;
}

.eco__content p{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: 0.36px;
color: #525C60;
}