.subscribe__wrap{
padding: 100px 70px;
background-image: url(../../../img/Subscribe.png);
background-size: 100%;
background-repeat: no-repeat;
margin-top: 30px;
display: flex;
justify-content: center;
align-content: center;
align-items: baseline;
}

.subscribe__txt{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 60px;
letter-spacing: 0.36px;
text-transform: capitalize;
color: #FFFFFF;
margin-right: 28%;
}
.subscribe__form input{
width: 350px;
height: 82px;
margin-right: 20px;
background-color: #FFFFFF;
border: none;
border-radius: 25px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
letter-spacing: 0.36px;
color: #525C60;
padding-left: 30px;
}







